## Bibliotecas

In [16]:
import pandas as pd
import pyodbc

In [19]:
print(pyodbc.drivers())

['SQL Server', 'SQLite3 ODBC Driver', 'SQLite ODBC Driver', 'SQLite ODBC (UTF-8) Driver', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'ODBC Driver 18 for SQL Server', 'ODBC Driver 13 for SQL Server']

## Configurando conexão

In [24]:
# Conexão
try:
    dados_conexao = ('Driver={ODBC Driver 13 for SQL Server};'
                      'Server=DSA;'
                      'Database=AULA;'
                      'Trusted_Connection=yes')
    
    conexao = pyodbc.connect(dados_conexao)
    
    print("Conexão bem sucedida!")
except:
    print("Conexão falhou")
    

# 'Trusted_Connection=yes' loga no Servidor SQL com autenticação do windows

Conexão bem sucedida!

## Criando nossa query

In [22]:
query = '''
        SELECT * 
        FROM DUPLICADOS  
        '''
df = pd.read_sql(query, conexao)

display(df.head(5))

C:\Users\devda\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   IDPRODUTO     PRODUTO   VALOR
0       5059   PRODUTO14  63.405
1       5060  PRODUTO293  26.595
2       5061  PRODUTO414  17.985
3       5062  PRODUTO764  48.495
4       5063  PRODUTO785  18.900

## Encerrando conexão

In [23]:
# encerrando a conexao
conexao.close()